So this folder contains 'Resources' folder
Also, it has the 'Base' folder which has the finished sort and combination methods.
Also, the 'Class_main' and 'Class_Tkinter_main' files that are probably going trash.
And also the 'Tkinter_main' one that is for raw workings.


Feedback:
    - D̶e̶l̶e̶t̶e̶ ̶i̶t̶e̶m̶s̶ ̶i̶n̶ ̶t̶r̶e̶e̶v̶i̶e̶w̶
    - M̶a̶k̶e̶ ̶m̶a̶t̶e̶r̶i̶a̶l̶ ̶l̶e̶n̶g̶t̶h̶ ̶m̶m̶
    - E̶n̶t̶e̶r̶ ̶t̶o̶ ̶a̶d̶d̶
    - C̶h̶o̶o̶s̶e̶ ̶d̶e̶s̶t̶i̶n̶a̶t̶i̶o̶n̶ ̶f̶o̶r̶ ̶l̶o̶g̶ ̶f̶i̶l̶e̶
    - Fix log file, arrange better. Show summation per value
    - Scan profiles, allow choice.
    - R̶e̶m̶o̶v̶e̶ ̶u̶n̶n̶e̶c̶e̶s̶s̶a̶r̶y̶ ̶r̶u̶n̶2̶(̶)̶ ̶f̶u̶n̶c̶t̶i̶o̶n̶